loaddefs.el*
backup/*
auto-save-list
custom.el
*elc
places
url/cookies
thumbs/*
oddmuse/*
.newsrc-dribble
.nnmail-cache
/#.newsrc-dribble#
.svn
.DS_Store
session*
tramp
\#*
history
elpa
swank
init.d/local.el
*.dat
