XTerm*bellIsUrgent: true
XTerm*dynamicColors: true
XTerm*faceName: DejaVu Sans Mono 
XTerm*faceSize: 12
XTerm*faceSize1: 6
XTerm*faceSize2: 8
XTerm*faceSize3: 10
XTerm*faceSize4: 12
XTerm*faceSize5: 14
XTerm*faceSize6: 16
XTerm*renderFont: true
XTerm*metaSendsEscape: true
XTerm*saveLines: 5000
XTerm*showMissingGlyphs: true
XTerm*utf8: 2
XTerm*Background: black
XTerm*Foreground: white
XTerm*termName: xterm-256color
